@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

.tableElementValue {
  text-align: center;
  height: 45px;
  font-family: "Lato";
  font-size: 14px;
  text-transform: capitalize;
  color: #79848e;
}

.even {
  composes: tableElementValue;
  background-color: #fff;
}

.odd {
  composes: tableElementValue;
  background-color: #ecf2f3;
}
